<html>
<head>
	<title>Task</title>
    <link rel="stylesheet" href="static/css/home2.css">
</head>
<body>
    <div id="div">
<div id="header" >
    <div id="left">
        <img id="img" src="https://fundercats.io/demo/img/logo.png"/>
    </div>
    <div id="right">
        <nav class="site-navigation">
            <div class="site-navigation-inner site-container">
        <div class="main-navigation">
            <ul class="main-navigation__ul">
                <li><a href="#">Fundercast#1</a></li>
                <li><a href="#">Fundercast#2</a></li>
                <li><a href="#">Fundercast#2:Elite APES</a></li>
                <li><a href="#">Meet The Fundercast</a></li>
                <li><a href="#">FAQS</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </div>

        <div id="myBtn" class="burger-container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <script>
            function myFunction(x) {
                x.classList.toggle("change");
            }
        </script>
    </div>
</nav>
    </div>
</div>
<div id="content" >
    <img id="img1" src="static/images/sobato1.jpeg"/>
</div>
</div>

<script src="static/js/jquery.min.js"></script>
	<script src="static/js/slick.min.js"></script>
	<script src="static/js/main.js"></script>
</body>
</html>
